NODE_ENV=development
PORT=3002
MONGODB_URI=mongodb://localhost:27017/lead
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=lead-background-service
KAFKA_GROUP_ID=lead-consumer
KAFKA_LEADS_TOPIC=leads.incoming
KAFKA_LEADS_DLQ_TOPIC=leads.incoming.dlq
